.map {
  transition: transform 0.5s ease;
  width: 100%;
}

.map.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg); /* Agrega esto para rotar */  
}
